button {
  padding: 6px 10px;
  width: 200px;
  height: 50px;
  font-size: large;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

th {
  background-color: black;
  color: white;
}
