/* font & colors */
p {
  font-family: monospace;
  font-size: 2rem;
  font-weight: bold;
}

.correct {
  color: limegreen;
}

.wrong {
  color: red;
  border-bottom: solid 2px red;
}

.on-item {
  border-bottom: solid 2px;
}

/* container */
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem 5rem;
}
